@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
b,
strong {
  font-weight: bold;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html,
body {
  margin: 0;
}
aactive,
ahover {
  -webkit-box-shadow: 0 0 1px 1px 0;
  -moz-box-shadow: 0 0 1px 1px 0;
  box-shadow: 0 0 1px 1px 0;
}
button,
select {
  text-transform: none;
}
button-moz-focus-inner,
[type="button"]-moz-focus-inner,
[type="reset"]-moz-focus-inner,
[type="submit"]-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button-moz-focusring,
[type="button"]-moz-focusring,
[type="reset"]-moz-focusring,
[type="submit"]-moz-focusring {
  -webkit-box-shadow: 0 0 1px 1px 1px;
  -moz-box-shadow: 0 0 1px 1px 1px;
  box-shadow: 0 0 1px 1px 1px;
}
[type="number"]-webkit-inner-spin-button,
[type="number"]-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.container {
  display: flex;
  max-width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media only screen and (max-width: 48em) {
  .container {
    width: 48em;
  }
}
@media only screen and (min-width: 62em) {
  .container {
    width: 62em;
  }
}
@media only screen and (min-width: 75em) {
  .container {
    width: 75em;
  }
}
.row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100% !important;
  padding: 0;
}
.column {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  vertical-align: top;
  padding: 0 1rem;
}
.column.one {
  width: 8.333333%;
}
.column.two {
  width: 16.666667%;
}
.column.three {
  width: 25%;
}
.column.four {
  width: 33.333333%;
}
.column.five {
  width: 41.666667%;
}
.column.six {
  width: 50%;
}
.column.seven {
  width: 58.333333%;
}
.column.eight {
  width: 66.666667%;
}
.column.nine {
  width: 75%;
}
.column.ten {
  width: 83.333333%;
}
.column.eleven {
  width: 91.666667%;
}
.column.twelve {
  width: 100%;
}
.column.centered {
  text-align: center;
}
.debug * {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.debug:not(.d).o *:hover {
  -webkit-box-shadow: 0 0 1px 1px inset rgba(0,17,34,0.5);
  -moz-box-shadow: 0 0 1px 1px inset rgba(0,17,34,0.5);
  box-shadow: 0 0 1px 1px inset rgba(0,17,34,0.5);
}
.debug:not(.d).f *:hover {
  background-color: rgba(0,17,34,0.05);
}
.debug:not(.h):not(.d).o * {
  -webkit-box-shadow: 0 0 1px 1px inset rgba(0,17,34,0.5);
  -moz-box-shadow: 0 0 1px 1px inset rgba(0,17,34,0.5);
  box-shadow: 0 0 1px 1px inset rgba(0,17,34,0.5);
}
.debug:not(.h):not(.d).f * {
  background-color: rgba(0,17,34,0.05);
}
.header {
  color: #bf0040;
}
.header a {
  text-decoration: none;
}
.button {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-transform: none;
  text-decoration: none;
  color: #012;
  border: none;
  white-space: nowrap;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.button:hover {
  color: #f05;
}
.button:disabled,
.button:disabled:hover {
  color: #678;
  background-color: #dddeef;
}
.button--large {
  padding: 1rem 1.5rem;
}
.button--primary {
  background: #bf0040;
  color: #fff;
}
.button--primary:hover {
  background: #f05;
  color: #fff;
}
.button--secondary {
  background: #dddeef;
  color: #012;
}
.button--secondary:hover {
  color: inherit;
  background: rgba(221,222,239,0.75);
}
.button--tertiary {
  background: none;
  color: #bf0040;
  -webkit-box-shadow: inset 0 0 1px 1px #bf0040;
  -moz-box-shadow: inset 0 0 1px 1px #bf0040;
  box-shadow: inset 0 0 1px 1px #bf0040;
}
.button--text {
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.button--text:hover {
  color: #678;
}
.icon,
.icon * {
  display: flex;
}
.button__icon {
  margin-right: 0.5rem;
}
.input--date,
.input--text {
  background: #fff;
  border: none;
  padding: 0.5rem 1rem;
  width: 5rem;
  -webkit-box-shadow: inset 0 0 1px 1px rgba(0,17,34,0.125);
  -moz-box-shadow: inset 0 0 1px 1px rgba(0,17,34,0.125);
  box-shadow: inset 0 0 1px 1px rgba(0,17,34,0.125);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.input--date,
.input--text:focus {
  -webkit-box-shadow: 0 0 2px 0 #154070;
  -moz-box-shadow: 0 0 2px 0 #154070;
  box-shadow: 0 0 2px 0 #154070;
}
.input--text::placeholder {
  color: rgba(0,17,34,0.5);
}
.input--date {
  appearance: none;
  -webkit-appearance: none;
  font-family: 'Open Sans';
  cursor: pointer;
  font-family: 'Open Sans';
  display: inline-block !important;
  visibility: visible !important;
  -webkit-box-shadow: inset 0 0 1px 1px rgba(0,17,34,0.125);
  -moz-box-shadow: inset 0 0 1px 1px rgba(0,17,34,0.125);
  box-shadow: inset 0 0 1px 1px rgba(0,17,34,0.125);
}
.select {
  border: none;
  padding: 0.25rem 0.5rem;
  -webkit-box-shadow: inset 0 0 1px 1px rgba(0,17,34,0.125);
  -moz-box-shadow: inset 0 0 1px 1px rgba(0,17,34,0.125);
  box-shadow: inset 0 0 1px 1px rgba(0,17,34,0.125);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.select--with-label {
  margin-left: 0.5rem;
}
.label--required {
  white-space: nowrap;
}
.label--required:after {
  content: " *";
  color: #bf0040;
}
.label--radio,
.label--checkbox {
  display: block;
  padding-left: 1.75em;
  text-indent: -1.75em;
  cursor: pointer;
}
.label--radio:not(:nth-last-of-type(1)),
.label--checkbox:not(:nth-last-of-type(1)) {
  margin-bottom: 0.25rem;
}
.label--top {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}
.input--invalid input {
  border: 1px solid #cf000f;
}
.input--invalid {
  color: #cf000f;
}
.input::after {
  content: attr(data-attr);
  font-size: 0.75rem;
}
.input--radio,
.input--checkbox {
  width: 1em;
  height: 1em;
  padding: 0;
  margin: 0 0.5rem 3px 0;
  vertical-align: bottom;
  position: relative;
  *overflow: hidden;
}
.badge {
  background: #bf0040;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  font-size: 0.675rem;
  height: 1rem;
  width: 1rem;
  color: #fff;
  display: flex;
  align-self: center;
  align-items: center;
}
.badge--empty {
  background: #012;
}
.button__badge {
  margin-left: 0.5rem;
}
.table__row {
  -webkit-box-shadow: 0 1px 0 0 #012;
  -moz-box-shadow: 0 1px 0 0 #012;
  box-shadow: 0 1px 0 0 #012;
}
.table__row th,
.table__row td {
  padding: 1rem 1rem;
  text-align: left;
}
.stepper {
  margin-bottom: 1.5rem;
}
.stepper__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}
.stepper__index {
  padding: 1rem 1.5rem;
  background: #bf0040;
  color: #fff;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.stepper__step-name {
  padding-left: 1.5rem;
  background: #dddeef;
  flex: 1;
  display: flex;
  justify-content: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.stepper__content {
  display: flex;
}
.modal {
  width: 100%;
  height: 100%;
  background: rgba(0,17,34,0.75);
  position: fixed;
  display: block;
  z-index: 10001;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.modal__window {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 6rem 6rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 4px 32px 0 rgba(0,17,34,0.5);
  -moz-box-shadow: 0 4px 32px 0 rgba(0,17,34,0.5);
  box-shadow: 0 4px 32px 0 rgba(0,17,34,0.5);
}
.modal__close {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.5rem;
  color: #678;
}
.popup {
  position: absolute;
  background: #fff;
  padding: 0.25rem 1rem;
  font-size: 0.75rem;
  right: 0;
  -webkit-box-shadow: 0 0.25rem 0.25rem 0 rgba(0,17,34,0.15);
  -moz-box-shadow: 0 0.25rem 0.25rem 0 rgba(0,17,34,0.15);
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0,17,34,0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.pagination {
  display: flex;
  flex-direction: row;
}
.pagination button,
.pagination a {
  border: none;
  padding: 0.5rem;
  width: 2rem;
  cursor: pointer;
  background: #dddeef;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.pagination button:hover,
.pagination a:hover,
.pagination button:focus,
.pagination a:focus,
.pagination button:active,
.pagination a:active {
  background: rgba(221,222,239,0.75);
}
.pagination button:not(:nth-last-child(1)),
.pagination a:not(:nth-last-child(1)) {
  margin-right: 0.5rem;
}
html {
  font-size: 100%;
  background: #012;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.25em;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
.sub-h1 {
  font-size: 0.875rem;
}
.sub-h2 {
  font-size: 0.75rem;
}
.sub-h3 {
  font-size: 0.675rem;
}
h1,
h2,
h3,
h4 {
  font-weight: 600;
}
.sub-h1,
.sub-h2,
.sub-h3,
.sub-header {
  font-weight: 400;
}
h1,
h2,
h3,
h4,
.sub-h1,
.sub-h2,
.sub-h3,
.sub-header {
  font-family: 'Open Sans';
  line-height: 1.5em;
  margin: 0;
}
body {
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 1.5em;
  background-color: #fff;
  color: #012;
}
body * {
  flex-direction: column;
}
.material-icons {
  font-size: 100%;
}
a {
  color: #bf0040;
  cursor: pointer;
  text-decoration: underline;
}
a:hover {
  color: #f05;
}
strong {
  font-weight: 600;
}
.nav {
  background: #fff;
  -webkit-box-shadow: 0 0.25rem 0.25rem 0 rgba(0,17,34,0.15);
  -moz-box-shadow: 0 0.25rem 0.25rem 0 rgba(0,17,34,0.15);
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0,17,34,0.15);
  width: 100%;
  z-index: 1000;
}
@media only screen and (min-width: 48em) {
  .nav {
    position: fixed;
  }
}
@media only screen and (min-width: 48em) {
  .nav--fix {
    height: 92px;
  }
}
.nav--primary {
  padding: 0 0 0 0;
  z-index: 100;
}
.nav--tertiary {
  background: #fff;
  border-top: 1px solid rgba(0,17,34,0.125);
  -webkit-box-shadow: 0 0.25rem 0.25rem 0 rgba(0,17,34,0.15);
  -moz-box-shadow: 0 0.25rem 0.25rem 0 rgba(0,17,34,0.15);
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0,17,34,0.15);
  position: absolute;
  width: 100%;
  z-index: 10;
  display: none;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.nav__logo {
  display: flex;
  margin-right: 1.5rem;
}
.nav__logo img {
  display: flex;
  width: 7.5rem;
  height: 100%;
}
.nav__menu {
  align-items: center;
  line-height: 1em;
}
.menu__button {
  padding: 1.5rem 1rem;
}
.menu__search {
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.nav__submenu {
  justify-content: flex-end;
  align-items: center;
  font-size: 0.75rem;
  line-height: 1em;
}
.submenu__button {
  color: #012;
}
.category {
  align-items: center;
  font-size: 100%;
}
.category__button {
  padding: 1rem 1.5rem;
}
.search__input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.search__button {
  height: 2.25rem;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.footer {
  line-height: 1em;
  padding: 1.5rem 0;
  background: #012;
  color: #abc;
  margin-top: 3rem;
}
.footer__menu {
  font-size: 0.875rem;
  align-items: center;
}
.footer__button {
  color: #abc;
  justify-self: flex-start;
}
.footer__copyright {
  font-size: 0.875rem;
  justify-self: flex-end;
  flex: 1;
  text-align: right;
}
.disclaimer {
  background: #cf000f;
  color: #fff;
  font-weight: 600;
  padding: 1rem 0;
  line-height: 1.5em;
  text-align: center;
}
.hero {
  margin-bottom: 3rem;
}
.hero__half {
  width: 50%;
  height: calc(100vh - 92px - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero__half--women {
  background-size: cover;
  background-position: right;
  background-image: url("./images/hero-women.jpg");
}
@media only screen and (min-width: 75em) {
  .hero__half--women {
    background-image: url("./images/hero-women@2x.jpg");
  }
}
.hero__half--men {
  background-size: cover;
  background-position: left;
  background-image: url("./images/hero-men.jpg");
}
@media only screen and (min-width: 75em) {
  .hero__half--men {
    background-image: url("./images/hero-men@2x.jpg");
  }
}
.hero__button {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 600;
  padding: 2rem 3rem;
  background: #bf0040;
  color: #fff;
}
section[id^=collection] {
  padding: 2rem 0;
}
.collection__signifier {
  height: 0.25rem;
  width: 6rem;
  margin-bottom: 0.5rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #bf0040;
}
.product {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.product__label {
  position: absolute;
  display: block;
  bottom: 0;
}
.product__label * {
  font-size: 0.675rem;
  letter-spacing: 0.1em;
  line-height: 1.25em;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  background: #012;
  color: #fff;
  margin-top: 0.125rem;
  float: left;
  clear: both;
  cursor: pointer;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.product__label--new {
  background: #012;
}
.product__label--popular {
  background: #012;
}
.product__label--discount {
  background: #012;
}
.product__image {
  margin-bottom: 1rem;
}
.product__image img {
  width: 100%;
}
.product__name {
  margin-bottom: 0.5rem;
  overflow: hidden;
}
.product__name a {
  color: inherit;
  text-decoration: none;
}
.product__price {
  margin-bottom: 1rem;
  align-items: center;
}
.product__price--current {
  margin-right: 0.5rem;
  color: #bf0040;
}
.product__price--pre-discount {
  text-decoration: line-through;
  color: #678;
}
.product__color {
  flex-wrap: wrap;
}
.product__color * {
  width: 1.5rem;
  height: 0.5rem;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  background: #012;
  border: none;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.product__color--beige {
  background: #c9c8b1;
}
.product__color--black {
  background: #012;
}
.product__color--blue {
  background: #1460aa;
}
.product__color--brown {
  background: color-brown;
}
.product__color--green {
  background: #1b7742;
}
.product__color--dark-gray {
  background: #678;
}
.product__color--dark-grey {
  background: #678;
}
.product__color--gray {
  background: #abc;
}
.product__color--grey {
  background: #abc;
}
.product__color--light-gray {
  background: #dddeef;
}
.product__color--light-grey {
  background: #dddeef;
}
.product__color--white {
  background: #fff;
  -webkit-box-shadow: inset 0 0 1px 1px #abc;
  -moz-box-shadow: inset 0 0 1px 1px #abc;
  box-shadow: inset 0 0 1px 1px #abc;
}
.product__color--red {
  background: #cf000f;
}
.product__color--pink {
  background: #ff9efd;
}
.product__color--orange {
  background: #d43900;
}
.product__color--yellow {
  background: #efbc08;
}
.product__color--purple {
  background: #639;
}
.shop__pagination {
  margin-top: 3rem;
  justify-content: flex-end;
}
.filter {
  width: 100%;
  padding-top: 1.5rem;
}
.label--checkbox.filter:hover {
  color: #bf0040;
}
.option-group {
  margin-bottom: 1rem;
}
.option__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
  -webkit-box-shadow: 0 1px 0 0 #678;
  -moz-box-shadow: 0 1px 0 0 #678;
  box-shadow: 0 1px 0 0 #678;
}
.header__button {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.025em;
  cursor: pointer;
  color: #678;
}
.header__button a {
  color: inherit;
  text-decoration: inherit;
}
.search-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem 0;
}
.search-result__info {
  display: flex;
  justify-content: center;
}
.price {
  justify-content: space-between;
  align-items: center;
}
.price__input {
  width: 42%;
  padding: 0.5rem 0.5rem;
}
.price__input input:focus {
  outline-style: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
}
.price__input input {
  display: inline-block;
  margin-left: 0.25rem;
  width: 70%;
  border: none;
}
.option__button {
  margin-top: 0.5rem;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.product-details {
  margin: 2rem 0;
}
.product-info__name,
.product-info__id,
.product-info__price {
  margin-bottom: 0.5rem;
}
.product-info__price--current {
  font-weight: 600;
  margin-right: 0.5rem;
}
.product-info__price--pre-discount {
  text-decoration: line-through;
  color: #678;
}
.product-info__description {
  font-size: 0.875rem;
}
.option--quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.option--quantity input {
  width: 40%;
}
.product-thumbnails {
  margin-bottom: 0.5rem;
  cursor: pointer;
  display: flex;
}
.product-thumbnails--active {
  -webkit-box-shadow: inset 0 0 1px 1px #bf0040;
  -moz-box-shadow: inset 0 0 1px 1px #bf0040;
  box-shadow: inset 0 0 1px 1px #bf0040;
}
.bag {
  margin: 3rem 0 0 0;
  min-height: calc(100vh - 92px - 80px - 48px - 48px);
}
.bag__thumbnail {
  width: 64px;
  display: block;
}
.bag__edit {
  color: #abc;
  cursor: pointer;
}
.bag__edit:hover {
  color: #bf0040;
}
.bag__review {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2rem;
}
.bag__subtotal {
  font-weight: 600;
  margin-right: 1.5rem;
}
.bag__order {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
}
.bag__order * {
  flex: 1;
  justify-content: center;
}
.bag__final-check {
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}
.checkout {
  margin-top: 3rem;
  min-height: calc(100vh - 92px - 80px - 48px - 48px);
}
.checkout__section:not(:nth-last-of-type(1)) {
  min-height: calc(100vh - 92px - 80px - 48px - 48px);
}
.checkout__section::before,
.checkout__section::after {
  content: '';
  display: block;
  height: 0.5rem;
}
.checkout__row td {
  padding: 0.5rem 0;
  vertical-align: top;
}
.checkout__row td:nth-child(1) {
  padding-right: 0.5rem;
}
.payment__expiry {
  display: flex;
  flex-direction: row;
}
.payment__expiry * {
  display: flex;
}
.profile {
  margin: 3rem 0;
  min-height: calc(100vh - 92px - 80px - 48px - 48px);
}
.profile__menu {
  display: flex;
  justify-content: flex-start;
  background: none;
  width: 100%;
  margin-bottom: 0.5rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.profile__menu:hover {
  background: #dddeef;
  color: inherit;
}
.profile__menu--active,
.profile__menu--active:hover {
  background-color: #bf0040;
  color: #fff;
  font-weight: 600;
}
.profile__name {
  margin: 0 0 1.5rem;
}
.support {
  margin: 3rem 0;
  min-height: calc(100vh - 92px - 80px - 48px - 48px);
}
.support__section {
  padding: 1.5rem 0;
}
.contact {
  margin: 3rem 0;
  padding: 2rem 0;
}
.map {
  padding: 4rem 0;
  background-color: #dddeef;
  margin-bottom: -3rem;
}
.map__widget {
  background-color: #fff;
}
.login,
.register {
  min-width: 35rem;
}
@media only screen and (max-width: 48em) {
  .login,
  .register {
    width: calc(100% - 2rem);
  }
}
.login__action,
.register__action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.register__action--secondary,
.login__action--secondary {
  text-align: center;
}
.login__action--secondary span,
.register__action--secondary span {
  color: #678;
  font-size: 0.875rem;
  white-space: nowrap;
}
.u-fill {
  width: 100% !important;
}
.u-inline-block {
  display: inline-block !important;
}
.u-block {
  display: block !important;
}
.u-flex {
  display: flex !important;
}
.u-flex-1 {
  flex: 1 !important;
}
.u-flex-2 {
  flex: 2 !important;
}
.u-flex-column {
  flex-direction: column !important;
}
.u-flex-row {
  flex-direction: row !important;
}
.u-p-zero {
  padding: 0px !important;
}
.u-p-zero--left {
  padding-left: 0px !important;
}
.u-p-zero--right {
  padding-right: 0px !important;
}
.u-m-medium--top {
  margin-top: 1rem !important;
}
.u-m-medium--right {
  margin-right: 1rem !important;
}
.u-m-medium--bottom {
  margin-bottom: 1rem !important;
}
.u-m-medium--left {
  margin-left: 1rem !important;
}
.u-m-large--top {
  margin-top: 1.5rem !important;
}
.u-m-large--right {
  margin-right: 1.5rem !important;
}
.u-m-large--bottom {
  margin-bottom: 1.5rem !important;
}
.u-m-large--left {
  margin-left: 1.5rem !important;
}
.u-align--center {
  text-align: center !important;
}
.u-align--left {
  text-align: left !important;
}
.u-align--right {
  text-align: right !important;
}
.u-no-wrap {
  white-space: nowrap !important;
}
.u-is-hidden {
  display: none !important;
}
.u-is-invalid {
  border: 1px solid #cf000f !important;
}
.u-is-active {
  color: #fff !important;
  background: #bf0040 !important;
}
.u-is-active:hover {
  background: #f05 !important;
}
.catalog-img {
  width:270px;
  height:270px;
}