@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
b,
strong {
  font-weight: bold;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html,
body {
  margin: 0;
}
aactive,
ahover {
  -webkit-box-shadow: 0 0 0 1px 0;
  -moz-box-shadow: 0 0 0 1px 0;
  box-shadow: 0 0 0 1px 0;
}
button,
select {
  text-transform: none;
}
button-moz-focus-inner,
[type="button"]-moz-focus-inner,
[type="reset"]-moz-focus-inner,
[type="submit"]-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button-moz-focusring,
[type="button"]-moz-focusring,
[type="reset"]-moz-focusring,
[type="submit"]-moz-focusring {
  -webkit-box-shadow: 0 0 0 1px 1px;
  -moz-box-shadow: 0 0 0 1px 1px;
  box-shadow: 0 0 0 1px 1px;
}
[type="number"]-webkit-inner-spin-button,
[type="number"]-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.container {
  display: flex;
  max-width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media only screen and (max-width: 48em) {
  .container {
    width: 48em;
  }
}
@media only screen and (min-width: 62em) {
  .container {
    width: 62em;
  }
}
@media only screen and (min-width: 75em) {
  .container {
    width: 75em;
  }
}
.row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100% !important;
  padding: 0;
}
.column {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  vertical-align: top;
  padding: 0 1rem;
}
.column.one {
  width: 8.333333%;
}
.column.two {
  width: 16.666667%;
}
.column.three {
  width: 25%;
}
.column.four {
  width: 33.333333%;
}
.column.five {
  width: 41.666667%;
}
.column.six {
  width: 50%;
}
.column.seven {
  width: 58.333333%;
}
.column.eight {
  width: 66.666667%;
}
.column.nine {
  width: 75%;
}
.column.ten {
  width: 83.333333%;
}
.column.eleven {
  width: 91.666667%;
}
.column.twelve {
  width: 100%;
}
.column.centered {
  text-align: center;
}
.debug * {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.debug:not(.d).o *:hover {
  -webkit-box-shadow: 0 0 0 1px inset rgba(0,17,34,0.5);
  -moz-box-shadow: 0 0 0 1px inset rgba(0,17,34,0.5);
  box-shadow: 0 0 0 1px inset rgba(0,17,34,0.5);
}
.debug:not(.d).f *:hover {
  background-color: rgba(0,17,34,0.05);
}
.debug:not(.h):not(.d).o * {
  -webkit-box-shadow: 0 0 0 1px inset rgba(0,17,34,0.5);
  -moz-box-shadow: 0 0 0 1px inset rgba(0,17,34,0.5);
  box-shadow: 0 0 0 1px inset rgba(0,17,34,0.5);
}
.debug:not(.h):not(.d).f * {
  background-color: rgba(0,17,34,0.05);
}
.header {
  color: #bf0040;
}
.header a {
  text-decoration: none;
}
.button {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-transform: none;
  text-decoration: none;
  color: #012;
  border: none;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.button:hover {
  color: #f05;
}
.button--primary {
  background: #bf0040;
  color: #fafafa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.button--primary:hover {
  background: #f05;
  color: #fafafa;
}
.button--secondary {
  background: #dddeef;
  color: #012;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.button--secondary:hover {
  color: inherit;
  background: rgba(221,222,239,0.75);
}
.button--ghost {
  background: none;
  color: #012;
  -webkit-box-shadow: 0 0 0 1px #012;
  -moz-box-shadow: 0 0 0 1px #012;
  box-shadow: 0 0 0 1px #012;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.icon,
.icon * {
  display: flex;
}
.button__icon {
  margin-right: 0.5rem;
}
.form--search {
  display: flex;
  flex: 1;
}
.input {
  border: none;
  padding: 0.5rem 1rem;
  line-height: 1em;
  -webkit-box-shadow: inset 0 0 1px 1px rgba(0,17,34,0.125);
  -moz-box-shadow: inset 0 0 1px 1px rgba(0,17,34,0.125);
  box-shadow: inset 0 0 1px 1px rgba(0,17,34,0.125);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.input:focus {
  -webkit-box-shadow: 0 0 2px 0 #154070;
  -moz-box-shadow: 0 0 2px 0 #154070;
  box-shadow: 0 0 2px 0 #154070;
}
.input::placeholder {
  color: rgba(0,17,34,0.5);
}
.badge {
  background: #bf0040;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  font-size: 0.675rem;
  height: 1rem;
  width: 1rem;
  color: #fafafa;
  display: flex;
  align-self: center;
  align-items: center;
}
.badge--empty {
  background: #012;
}
.button__badge {
  margin-left: 0.5rem;
}
html {
  font-size: 100%;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.25em;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
.sub-h1 {
  font-size: h5;
}
.sub-h2 {
  font-size: h6;
}
.sub-h3 {
  font-size: h7;
}
h1,
h2,
h3,
h4,
.sub-h1,
.sub-h2,
.sub-h3,
.sub-header {
  font-family: 'Open Sans';
  font-weight: 600;
  line-height: 1.5em;
  margin: 0;
}
body {
  font-family: 'Open Sans';
  font-weight: 600;
  line-height: 1.5em;
  background-color: #fafafa;
  color: #012;
}
body * {
  flex-direction: column;
}
.material-icons {
  font-size: 100%;
}
a {
  color: #bf0040;
}
a:hover {
  color: #f05;
}
.nav {
  background: #fafafa;
  -webkit-box-shadow: 0 0.125rem 0.125rem 0 rgba(0,17,34,0.125);
  -moz-box-shadow: 0 0.125rem 0.125rem 0 rgba(0,17,34,0.125);
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0,17,34,0.125);
  width: 100%;
  z-index: 1000;
}
@media only screen and (min-width: 48em) {
  .nav {
    position: fixed;
  }
}
@media only screen and (min-width: 48em) {
  .nav--fix {
    height: 92px;
  }
}
.nav--primary {
  padding: 0 0 0 0;
  z-index: 100;
}
.nav--tertiary {
  background: #fafafa;
  border-top: 1px solid rgba(0,17,34,0.125);
  -webkit-box-shadow: 0 0.125rem 0.125rem 0 rgba(0,17,34,0.125);
  -moz-box-shadow: 0 0.125rem 0.125rem 0 rgba(0,17,34,0.125);
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0,17,34,0.125);
  position: absolute;
  width: 100%;
  z-index: 10;
  display: none;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.nav__logo {
  display: flex;
  margin-right: 1.5rem;
}
.nav__logo img {
  display: flex;
  width: 7.5rem;
  height: 100%;
}
.nav__menu {
  align-items: center;
  line-height: 1em;
}
.menu__button {
  padding: 1.5rem 1rem;
}
.menu__search {
  flex: 1;
  flex-direction: row;
  margin: 0 1rem;
}
.nav__submenu {
  justify-content: flex-end;
  align-items: center;
  font-size: 0.75rem;
  line-height: 1em;
}
.submenu__button {
  color: #012;
}
.category {
  align-items: center;
  font-size: 100%;
}
.category__button {
  padding: 1rem 1.5rem;
}
.search__input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.search__button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.hero {
  margin-bottom: 3rem;
}
.hero__half {
  width: 50%;
  height: calc(100vh - 92px - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero__half--women {
  background-image: url("./images/hero-women.jpg");
  background-size: cover;
  background-position: right;
}
@media only screen and (min-width: 75em) {
  .hero__half--women {
    background-image: url("./images/hero-women@2x.jpg");
  }
}
.hero__half--men {
  background-image: url("./images/hero-men.jpg");
  background-size: cover;
  background-position: left;
}
@media only screen and (min-width: 75em) {
  .hero__half--men {
    background-image: url("./images/hero-men@2x.jpg");
  }
}
.hero__button {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 600;
  padding: 2rem 3rem;
  background: #bf0040;
  color: #fafafa;
}
[id^=collection] {
  padding: 2rem 0;
}
.collection__signifier {
  height: 0.25rem;
  width: 6rem;
  margin-bottom: 0.5rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #bf0040;
}
.product {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.product__label {
  position: absolute;
  display: block;
  bottom: 0;
}
.product__label * {
  font-size: 0.675rem;
  letter-spacing: 0.1em;
  line-height: 1.25em;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  background: #012;
  color: #fafafa;
  margin-top: 0.125rem;
  float: left;
  clear: both;
  cursor: pointer;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.product__label--new {
  background: #012;
}
.product__label--popular {
  background: #012;
}
.product__label--discount {
  background: #012;
}
.product__image {
  margin-bottom: 1rem;
}
.product__image img {
  width: 100%;
}
.product__name {
  margin-bottom: 0.5rem;
  overflow: hidden;
}
.product__name a {
  color: inherit;
  text-decoration: none;
}
.product__price {
  margin-bottom: 1rem;
  align-items: center;
}
.product__price--current {
  margin-right: 0.5rem;
  color: #bf0040;
}
.product__price--pre-discount {
  text-decoration: line-through;
  color: #678;
}
.product__color {
  flex-wrap: wrap;
}
.product__color * {
  width: 1.5rem;
  height: 0.5rem;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  background: #012;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.product__color--black {
  background: #012;
}
.product__color--dark-grey {
  background: #678;
}
.product__color--grey {
  background: #abc;
}
.product__color--light-grey {
  background: #dddeef;
}
.product__color--red {
  background: #cf000f;
}
.product__color--orange {
  background: #d43900;
}
.product__color--yellow {
  background: #efbc08;
}
.product__color--green {
  background: #1b7742;
}
.product__color--blue {
  background: #1460aa;
}
.product__color--purple {
  background: #639;
}
.footer {
  line-height: 1em;
  padding: 1.5rem 0;
  background: #012;
  color: #abc;
  margin-top: 3rem;
}
.footer__menu {
  font-size: 0.875rem;
  align-items: center;
}
.footer__button {
  color: #abc;
  justify-self: flex-start;
}
.footer__copyright {
  font-size: 0.875rem;
  justify-self: flex-end;
  flex: 1;
  text-align: right;
}
.u-fill {
  width: 100%;
}
.u-block {
  display: block;
}
.u-flex {
  display: flex;
}
.u-flex-align-end,
.u-flex-fill {
  flex: 1;
}
.u-flex-column {
  flex-direction: column;
}
.u-flex-row {
  flex-direction: row;
}
.u-zero-padding {
  padding: 0px;
}
.u-zero-padding-left {
  padding-left: 0px;
}
.u-zero-padding-right {
  padding-right: 0px;
}
