/**
 * Components
 */

/**
 * Navigation
 */

.nav
	background color-white
	box-shadow()
	width 100%
	z-index 1000
	+above(breakpoint-mobile)
		position fixed

.nav--fix
	+above(breakpoint-mobile)
		height 92px

.nav--primary
	padding 0 0 0 0
	z-index 100

.nav--tertiary
	background color-white
	// box-shadow(inset 0 1px 0 0 alpha(color-black, 0.125))
	border-top 1px solid alpha(color-black, 0.125)
	box-shadow()
	position absolute
	width 100%
	z-index 10
	display none
	transition()

.nav__logo
	display flex
	margin-right size-l

.nav__logo img
	display flex
	width 7.5rem
	height 100%

.nav__menu
	align-items center
	line-height 1em

.menu__button
	padding size-l size-m

.menu__search
	margin 0 size-m
	display flex
	flex-direction row
	flex 1

.nav__submenu
	justify-content flex-end
	align-items center
	font-size sub-h2
	line-height 1em

.submenu__button
	color color-black

.category
	align-items center
	font-size base

.category__button
	padding size-m size-l

.search__input
	border-top-right-radius 0px
	border-bottom-right-radius 0px

.search__button
	height 2.25rem
	border-top-left-radius 0px
	border-bottom-left-radius 0px

/**
 * Footer
 */

.footer
	line-height lh-s
	padding size-l 0
	background color-black
	color color-grey
	margin-top size-xxl

.footer__menu
	font-size sub-h1
	align-items center

.footer__button
	color color-grey
	justify-self flex-start

.footer__copyright
	font-size sub-h1
	justify-self flex-end
	flex 1
	text-align right

.disclaimer
	background color-red
	color color-white
	font-weight weight-medium
	padding size-m 0
	line-height lh-l
	text-align center

/**
 * Hero
 */

.hero
	margin-bottom size-xxl

.hero__half
	width 50%
	height calc(100vh - 92px - 64px)
	display flex
	justify-content center
	align-items center
	text-align center

.hero__half--women
	background-size cover
	background-position right
	background-image url('./images/hero-women.jpg')
	+hd()
		background-image url('./images/hero-women@2x.jpg')

.hero__half--men
	background-size cover
	background-position left
	background-image url('./images/hero-men.jpg')
	+hd()
		background-image url('./images/hero-men@2x.jpg')

.hero__button
	text-transform uppercase
	letter-spacing 0.2em
	font-weight weight-medium
	padding size-xl size-xxl
	background color-primary
	color color-white

/**
 * Collection
 */

section[id^=collection]
	padding size-xl 0

.collection__signifier
	height size-xs
	width 6rem
	margin-bottom size-s
	border-radius(2px)
	background color-primary

/**
 * Product
 */

.product
	padding-top size-l
	padding-bottom size-l

.product__label
	position absolute
	display block
	bottom 0

.product__label *
	font-size sub-h3
	letter-spacing 0.1em
	line-height lh-m
	text-transform uppercase
	padding size-xs size-s
	background color-black
	color color-white
	margin-top size-xxs
	float left
	clear both
	cursor pointer
	border-top-right-radius 2px
	border-bottom-right-radius 2px

.product__label--new
	background color-black

.product__label--popular
	background color-black

.product__label--discount
	background color-black

.product__image
	margin-bottom size-m

.product__image img
	width 100%

.product__name
	margin-bottom size-s
	overflow hidden

.product__name a
	color inherit
	text-decoration none

.product__price
	margin-bottom size-m
	align-items center

.product__price--current
	margin-right size-s
	color color-primary

.product__price--pre-discount
	text-decoration line-through
	color color-dark-grey

.product__color
	flex-wrap wrap

.product__color *
	width size-l
	height size-s
	margin-right size-xs
	margin-bottom size-xs
	background color-black
	border none
	cursor pointer
	border-radius(2px)

.product__color--black
	background color-black

.product__color--dark-grey
	background color-dark-grey

.product__color--grey
	background color-grey

.product__color--light-grey
	background color-light-grey

.product__color--red
	background color-red

.product__color--orange
	background color-orange

.product__color--yellow
	background color-yellow

.product__color--green
	background color-green

.product__color--blue
	background color-blue

.product__color--purple
	background color-purple

/**
 * Shop
 */

.shop__pagination
	margin-top size-xxl
	justify-content flex-end

/**
 * Shop Sidebar
 */

.filter
	width 100%
	padding-top size-l

.label--checkbox.filter:hover
	color color-primary

.option-group
	margin-bottom size-m

.option__header
	display flex
	flex-direction row
	justify-content space-between
	padding-bottom size-xs
	margin-bottom size-s
	box-shadow(0 1px 0 0 color-dark-grey)

.header__button
	text-transform uppercase
	font-size sub-h2
	letter-spacing 0.025em
	cursor pointer
	color color-dark-grey

.header__button a
	color inherit
	text-decoration inherit

.search-result
	display flex
	flex-direction row
	justify-content space-between
	margin size-l 0

.search-result__info
	display flex
	justify-content center

.price
	justify-content space-between
	align-items center

.price__input
	width 42%
	padding size-s size-s

.price__input input:focus
	outline-style:none;
	box-shadow:none;
	border-color:transparent;

.price__input input
	display inline-block
	margin-left size-xs
	width 70%
	border none

.option__button
	margin-top size-s
	width 100%
	justify-content center
	text-align center

/**
 * Product Details
 */

.product-details
	margin size-xl 0

.product-info__name
.product-info__id
.product-info__price
	margin-bottom size-s

.product-info__price--current
	font-weight weight-medium
	margin-right size-s

.product-info__price--pre-discount
	text-decoration line-through
	color color-dark-grey

.product-info__description
	font-size sub-h1

.option--quantity
	display flex
	flex-direction row
	justify-content space-between

.option--quantity input
	width 40%

.product-thumbnails
	margin-bottom size-s
	cursor pointer
	display flex

.product-thumbnails--active
	inner-outline(color-primary)

/**
 * Shopping Bag
 */

.bag
	margin size-xxl 0 0 0
	min-height()

.bag__thumbnail
	width 64px
	display block

// .bag__edit
// 	width 6rem

.bag__edit
	color color-grey
	cursor pointer

.bag__edit:hover
	color color-primary

.bag__review
	display flex
	flex-direction row
	justify-content flex-end
	align-items center
	margin-top size-xl

.bag__subtotal
	font-weight weight-medium
	margin-right size-l

.bag__order
	display flex
	flex-direction row
	align-items center
	margin-top size-xl

.bag__order *
	flex 1
	justify-content center

.bag__final-check
	box-shadow(0)

/**
 * Checkout
 */

.checkout
	margin-top size-xxl
	min-height()

.checkout__section:not(:nth-last-of-type(1))
	min-height()

.checkout__section::before
.checkout__section::after
	content ''
	display block
	height size-s

.checkout__row td
	padding size-s 0
	vertical-align top

.checkout__row td:nth-child(1)
	padding-right size-s

.payment__expiry
	display flex
	flex-direction row

.payment__expiry *
	display flex


/**
 * Profile
 */

.profile
	margin size-xxl 0
	min-height()

.profile__menu
	display flex
	justify-content flex-start
	background none
	width 100%
	margin-bottom size-s
	border-radius()

.profile__menu:hover
	background color-light-grey
	color inherit

.profile__menu--active
.profile__menu--active:hover
	background-color color-primary
	color color-white
	font-weight weight-medium

.profile__name
	margin 0 0 size-l

/**
 * Support
 */


.support
	margin size-xxl 0
	min-height()

.support__section
	padding size-l 0


/**
 * Contact
 */

.contact
	margin size-xxl 0
	padding size-xl 0

.map
	padding size-xxxl 0
	background-color color-light-grey
	margin-bottom -(size-xxl)

.map__widget
	background-color color-white

/**
 * Login & Register
 */

.login
.register
	min-width 35rem
	+mobile()
		width calc(100% - 2rem)

.login__action
.register__action
	display flex
	flex-direction row
	align-items center
	justify-content center
	margin-bottom size-l

.register__action--secondary
.login__action--secondary
	text-align center

.login__action--secondary span
.register__action--secondary span
	color color-dark-grey
	font-size sub-h1
	white-space nowrap
