/**
 * Elements
 */

html
	font-size base

button
input
optgroup
select
textarea
	font-family inherit
	font-size base
	line-height lh-m

h1
	font-size h1
h2
	font-size h2
h3
	font-size h3
h4
	font-size h4
.sub-h1
	font-size h5
.sub-h2
	font-size h6
.sub-h3
	font-size h7

h1
h2
h3
h4
.sub-h1
.sub-h2
.sub-h3
.sub-header
	font-family font
	font-weight 600
	line-height lh-l
	margin 0

body
	font-family font
	font-weight base-weight
	line-height lh-l
	background-color color-white
	color color-black

body *
	flex-direction column

.material-icons
	font-size base