/**
 * Objects
 */

.header
	color color-primary

.header a
	text-decoration none

.button
	display flex
	flex-direction row
	align-self center
	align-items center
	justify-items center
	padding size-s size-m
	cursor pointer
	text-transform none
	text-decoration none
	color color-black
	border none
	transition()

.button:hover
	color lightness(color-primary 50%)

.button--large
	padding size-m size-l

.button--primary
	background color-primary
	color color-white
	border-radius()

.button--primary:hover
	background lightness(color-primary 50%)
	color color-white

.button--secondary
	background color-light-grey
	color color-black
	border-radius()

.button--secondary:hover
	color inherit
	background alpha(color-light-grey, 0.75)

.button--ghost
	background none
	color color-black
	outline()
	border-radius()

.icon
.icon *
	display flex

.button__icon
	margin-right size-s

.form--search
	display flex
	flex-direction row
	flex 1

.input--text
	background #FFFFFF
	border none
	padding size-s size-m
	width 5rem
	box-shadow(inset 0 0 1px 1px alpha(color-black, 0.125))
	border-radius()

.input--text:focus
	box-shadow(0 0 2px 0 alpha(color-secondary, 1))

.input--text::placeholder
	color alpha(color-black, 0.5)

.select
	border none
	padding size-xs size-s
	box-shadow(inset 0 0 1px 1px alpha(color-black, 0.125))
	border-radius()

.select--with-label
	margin-left size-s

/**
 * Label
 */

.label--checkbox
	display block
	padding-left 1.75em
	text-indent -1.75em
	cursor pointer

.label--checkbox:not(:nth-last-of-type(1))
	margin-bottom size-xs

/**
 * Checkbox
 */

.input--checkbox
	width 1em
	height 1em
	padding 0
	margin 0 0.5rem 3px 0
	vertical-align bottom
	position relative
	*overflow hidden

/**
 * Badge
 */

.badge
	background color-primary
	border-radius 1em
	font-size sub-h3
	height size-m
	width size-m
	color color-white
	display flex
	align-self center
	align-items center

.badge--empty
	background color-black

.button__badge
	margin-left size-s

/**
 * Table
 */

.table__row
.table__header
	box-shadow(0 1px 0 0 color-black)

.table__header th
	padding size-m size-m

.table__row td
	padding size-m size-m

.table__row td:nth-child(1)
	padding size-s 0
