/**
 * Objects
 */

.header
	color color-primary

.header a
	text-decoration none

/**
 * Button
 */

.button
	display flex
	flex-direction row
	align-self center
	align-items center
	justify-items center
	padding size-s size-m
	cursor pointer
	text-transform none
	text-decoration none
	color color-black
	border none
	white-space nowrap
	border-radius()
	transition()
	&:hover
		color lightness(color-primary 50%)

.button--large
	padding size-m size-l

.button--primary
	background color-primary
	color color-white
	&:hover
		background lightness(color-primary 50%)
		color color-white

.button--secondary
	background color-light-grey
	color color-black
	&:hover
		color inherit
		background alpha(color-light-grey, 0.75)

.button--tertiary
	background none
	color color-primary
	inner-outline(color-primary)

.button--text
	color inherit
	cursor pointer
	text-decoration underline
	transition()
	&:hover
		color color-dark-grey

/**
 * Icon
 */

.icon
.icon *
	display flex

.button__icon
	margin-right size-s

/**
 * Input
 */

.input--date
.input--text
	background #FFFFFF
	border none
	padding size-s size-m
	width 5rem
	inner-outline(alpha(color-black, 0.125))
	border-radius()

.input--date
.input--text:focus
	box-shadow(0 0 2px 0 alpha(color-secondary, 1))

.input--text::placeholder
	color alpha(color-black, 0.5)

.input--date
	appearance none
	-webkit-appearance none
	font-family font
	cursor pointer
	font-family font
	display inline-block !important
	visibility visible !important
	inner-outline(alpha(color-black, 0.125))

/**
 * Select
 */

.select
	border none
	padding size-xs size-s
	inner-outline(alpha(color-black, 0.125))
	border-radius()

.select--with-label
	margin-left size-s

/**
 * Label
 */
.label--required
	white-space nowrap

.label--required:after
	content " *"
	color color-primary

.label--radio
.label--checkbox
	display block
	padding-left 1.75em
	text-indent -1.75em
	cursor pointer

.label--radio:not(:nth-last-of-type(1))
.label--checkbox:not(:nth-last-of-type(1))
	margin-bottom size-xs

.label--top
	display block
	font-size sub-h1
	margin-bottom size-xs

.input--invalid input
	border 1px solid color-red

.input--invalid
	color color-red

.input::after
	content attr(data-attr)
	font-size sub-h2

/**
 * Checkbox
 */

.input--radio
.input--checkbox
	width 1em
	height 1em
	padding 0
	margin 0 0.5rem 3px 0
	vertical-align bottom
	position relative
	*overflow hidden

/**
 * Badge
 */

.badge
	background color-primary
	border-radius 1em
	font-size sub-h3
	height size-m
	width size-m
	color color-white
	display flex
	align-self center
	align-items center

.badge--empty
	background color-black

.button__badge
	margin-left size-s

/**
 * Table
 */

.table__row
	box-shadow(0 1px 0 0 color-black)

.table__row th
.table__row td
	padding size-m size-m
	text-align left

/**
 * Stepper
 */

.stepper
	margin-bottom size-l

.stepper__header
	width 100%
	display flex
	flex-direction row
	margin-bottom size-l

.stepper__index
	padding size-m size-l
	background color-primary
	color color-white
	text-align center
	border-top-left-radius 4px
	border-bottom-left-radius 4px

.stepper__step-name
	padding-left size-l
	background color-light-grey
	flex 1
	display flex
	justify-content center
	border-top-right-radius 4px
	border-bottom-right-radius 4px

.stepper__content
	display flex

/**
 * Modal
 */

.modal
	width 100%
	height 100%
	background alpha(color-black, 0.75)
	position fixed
	display block
	z-index 10001
	transition()

.modal__window
	position absolute
	left 50%
	top 50%
	transform translate(-50%, -50%)
	background color-white
	padding 6rem 6rem
	border-radius(size-s)
	box-shadow(0 4px 32px 0 alpha(color-black, 0.5))

.modal__close
	width 2rem
	height 2rem
	display flex
	align-items center
	justify-content center
	cursor pointer
	position absolute
	right 2rem
	top 2rem
	font-size h2
	color color-dark-grey

/**
 * Popup
 */

.popup
	position absolute
	background color-white
	padding size-xs size-m
	font-size sub-h2
	right 0
	box-shadow()
	border-radius()

/**
 * Pagination
 */

.pagination
	display flex
	flex-direction row

.pagination button
	border none
	padding size-s
	width size-xl
	cursor pointer
	background color-light-grey
	&:hover
	&:focus
	&:active
		background alpha(color-light-grey, 0.75)
	&:not(:nth-last-child(1))
		margin-right size-s
