/**
 * Objects
 */

.button
	display flex
	flex-direction row
	align-items center
	justify-items center
	padding size-s size-m
	cursor pointer
	text-transform none
	text-decoration none
	color color-black
	border none
	transition()

.button:hover
	color color-dark-grey

.button--primary
	background color-primary
	color color-white
	border-radius()

.button--secondary
	background color-light-grey
	color color-black
	border-radius()

.icon
.icon *
	display flex

.icon--button
	margin-right size-s

.form--search
	display flex
	flex 1

.input
	border none
	padding size-s size-m
	line-height lh-s
	box-shadow(inset 0 0 1px 1px alpha(color-black, 0.125))
	border-radius()

.input:focus
	box-shadow(0 0 2px 0 alpha(color-secondary, 1))

.input::placeholder
	color alpha(color-black, 0.5)
