/**
 * Settings
 */

// Font
base = 100%

// Color
color-black     = #222233
color-grey      = #AABBCC
color-white     = #FAFAFA
color-primary   = #BF0040 // pink red
color-secondary = #154070 // navy blue

// Spacing
space-1 = 0.25rem
space-2 = 0.5rem
space-3 = 1rem
space-4 = 1.5rem
space-5 = 2rem
space-6 = 3rem
space-7 = 4rem

// Breakpoint
breakpoint-mobile   = 48em // 768px
breakpoint-desktop  = 62em // 992px
breakpoint-hd       = 75em // 1200px

// Rupture
rupture = {
	mobile-cutoff: breakpoint-mobile
	desktop-cutoff: breakpoint-desktop
	hd-cutoff: breakpoint-hd
	enable-em-breakpoints: true
	base-font-size: font-base
	anti-overlap: false
	density-queries: 'dppx' 'webkit' 'moz' 'dpi'
	retina-density: 1.5
	use-device-width: false
}
