/**
 * Tools
 */

vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	{prop} args

border-radius(args = 4px)
	vendor('border-radius', args)

box-shadow(args = 0 size-xxs size-xxs 0 alpha(color-black, 0.125))
	vendor('box-shadow', args)

transition(args = all 0.1s ease-out)
	vendor('transition', args)

outline(color = color-black)
	box-shadow(0 0 1px 1px color)

inner-outline(color = color-black)
	box-shadow(inset 0 0 1px 1px color)

clearfix()
	&:after
		content ""
		display table
		clear both

min-height(height = calc(100vh - 92px - 80px - 48px - 48px))
	// 100vh - nav - footer - footer margin - this margin
	min-height height