/**
 * Utilities
 */

.u-fill
	width 100% !important

.u-inline-block
	display inline-block !important
.u-block
	display block !important
.u-flex
	display flex !important

.u-flex-1
	flex 1 !important
.u-flex-2
	flex 2 !important

.u-flex-column
	flex-direction column !important
.u-flex-row
	flex-direction row !important

.u-p-zero
	padding 0px !important
.u-p-zero--left
	padding-left 0px !important
.u-p-zero--right
	padding-right 0px !important

.u-m-medium--top
	margin-top size-m !important
.u-m-medium--right
	margin-right size-m !important
.u-m-medium--bottom
	margin-bottom size-m !important
.u-m-medium--left
	margin-left size-m !important

.u-m-large--top
	margin-top size-l !important
.u-m-large--right
	margin-right size-l !important
.u-m-large--bottom
	margin-bottom size-l !important
.u-m-large--left
	margin-left size-l !important

.u-align--center
	text-align center !important
.u-align--left
	text-align left !important
.u-align--right
	text-align right !important

.u-no-wrap
	white-space nowrap
