/**
 * Utilities
 */

.u-fill
	width 100%

.u-block
	display block

.u-flex
	display flex

.u-flex-fill
	flex 1

.u-flex-column
	flex-direction column

.u-flex-row
	flex-direction row

.u-p-zero
	padding 0px

.u-p-zero--left
	padding-left 0px

.u-p-zero--right
	padding-right 0px

.u-m-medium--top
	margin-top size-m

.u-m-medium--bottom
	margin-bottom size-m
